# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
context.md
output_final_names_1_example.xlsx
.env
*.md
catalog_apis.json
swagger.json
test_api.js
test_api2.js
test_api3.js
test_api_sub.js
test_api5.js
test_api4.js
test_api6.js
scratch/*
openspec/*